/* src/app/globals.css */

/* REMOVED :root and body colors. 
   MUI CssBaseline will now handle this dynamically. */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}